/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('assets/fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('assets/fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('assets/fonts/lato-v23-latin-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('assets/fonts/lato-v23-latin-700italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('assets/fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*Normilize*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
} 

body {
  height: 100vh;
  font-family: 'Lato', Helvetica, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background: rgb(231 222 222);
}

/*keyboard*/

.container {
  max-width: 1034px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 10px;
}

.title {
  font-size: 35px;
  text-align: center;
  color: #2f3734;
  font-weight: 700;
}

.description {
  display: flex;
  justify-content: space-around;
}

.instruction {
  padding-top: 10px;
  font-size: 18px;
  text-align: center;
  color: #2f3734;
  font-weight: 700;
}

.keyboard__keys {
  background-color: black;
  border-radius: 10px;
  padding: 4px;
}

.keyboard__input {
  background: #f5f4e6;
  border-radius: 10px;
  width: 100%;
  min-height: 220px;
  padding: 15px;
  outline: none;
  font-size: 20px;
  box-shadow: 0px -1px 17px 4px #d8d6bf;
  margin: 20px 0 10px 0;
}

.keyboard__input::placeholder {
  font-size: 18px;
  color: rgb(145, 139, 139);
}

.row {
  display: flex;
}

.key {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: #2f3734;
  justify-content: center;
  align-items: center;
  margin: 4px;
  transition: .3s all;
  border-radius: 5px;
  cursor: pointer;
}

.key:hover {
  box-shadow: 0px -1px 8px 4px #d8d6bf;
}

.key:active {
  background-color: #d8d6bf;
  color: black;
  box-shadow: 0px -1px 8px 4px #d8d6bf;
}

.key_backspace {
  width: 133px;
}

.key_tab {
  width: 66px;
}

.key_caps-lock,
.key_enter,
.key_shift {
  width: 130px; 
}

.key_space {
  width: 473px;
}

.key_active {
  background-color: #d8d6bf;
  color: black;
  box-shadow: 0px -1px 8px 4px #d8d6bf;
}

.key_remove {
  animation-name: key-animation;
  animation-duration: 0.3s forwards;
}

@keyframes key-animation {
  0% {
    background-color: #d8d6bf;
    color: black;
    box-shadow: 0px -1px 8px 4px #d8d6bf;
  }
  100% {
    background-color: #2f3734;
    color: #fff;
    box-shadow: 0;
  }
}
